<ion-view title="Canal">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-more-vertical"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header" style="background: #c9cdd1;" ng-init="cargarCanal()">

    <div class="channel-info">
      <h3>{{canal.title}}</h3>
      <p>{{canal.description}}</p>
    </div>
    <div class="channel-content list">
      <div class="message" ng-repeat="msg in canal.messages">
        <div class="message-bubble">
          <p ng-bind-html="msg.content"></p>
          <small am-time-ago="msg.created_time"></small>
        </div>
      </div>
    </div>
    
  </ion-content>
  <ion-footer-bar class="bar-positive" align-title = "center" ng-click="suscCanal()">
    <h1 class="title">{{suscBtn}}</h1>
  </ion-footer-bar>
</ion-view>
