<ion-view title="Explorar">
    <ion-content padding="false" class="has-header" ng-init="cargarCanales()">
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="canal in canales" ui-sref="tab.canal({id: canal.id})">
        <img src="https://s3.amazonaws.com/ionic-io-static/blfWoyQqS9UHGXQ2XwwB_e870c4db344ae9e5ac5d8d2c5488d5b1.jpg">
        <h2>{{canal.title}}</h2>
        <p>{{canal.description}}</p>
      </ion-item>
    </ion-list>
  <ion-infinite-scroll ng-if="!desactivar" on-infinite="cargarCanales()" distance="10%"></ion-infinite-scroll>
  </ion-content>

</ion-view>