
  <ion-view title="Login" hide-nav-bar="true" style="background-color: rgb(209, 39, 246);" cache-view="false">
  <ion-content padding="true" style="background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form class="list">
    <img src="img/logo1.png" width="100px" style="text-align: center;" />
      <h3 style="color: #FFF; font-weight: 400; text-align: center;">Únete a la comunidad LGBT con LGBTcast</h3>

        <label class="item-floating-label"">
        <span class="input-label">Nombre de usuario o email</span>
          <input placeholder="Nombre de usuario o email" type="text" ng-model="user.username" class="login-input">
        </label>
        <label class="item-floating-label"">
        <span class="input-label">Contraseña</span>
          <input placeholder="Contraseña" type="password" ng-model="user.password" class="login-input">
        </label>

      <div class="spacer" style="height: 40px;"></div>
      <a ng-click="enviar(user)" class="button button-stable button-block login-button">Entrar</a>
      <a ng-click="loginFacebook()" class="button button-stable button-block">Entrar con Facebook</a>
      <a ng-click="loginGoogle()" class="button button-stable button-block">Entrar con Google</a>
      <a ui-sref="registro()" class="button button-positive button-block button-clear">O crea una cuenta</a>
    </form>
  </ion-content>
</ion-view>
