<ion-view title="Perfil">
  <ion-content has-header="true" ng-init="cargarUsuario()">
    <div id="profile-bg"></div>
      <!--div id="profile-content">
        <div id="profile-info">
          <img id="profile-image" src="https://s3.amazonaws.com/ionic-io-static/9zr7aST8QmKTZ60SJAYS_ed87f5e227d2c5adfc9cb0fd62349300.jpg">
          <h3 id="profile-name">{{user.username}}</h3>
          <h4>{{user.name}}</h4>
          <span id="profile-description">{{user.bio}}</span>
        </div-->

        <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider" delegate-handle="slider" id="profile-info">
          <ion-slide-page style="">
            <img id="profile-image" src="https://s3.amazonaws.com/ionic-io-static/9zr7aST8QmKTZ60SJAYS_ed87f5e227d2c5adfc9cb0fd62349300.jpg">
            <h3 id="profile-name">{{usuario.username}}</h3>
            <h4>{{usuario.name}}</h4>
            <span id="profile-description">{{usuario.bio}}</span>
            <button class="button button-positive button-block" ng-click="seguirUsuario()" ng-hide="soyYo(usuario.id)">{{botonMsg}}</button>
          </ion-slide-page>
          <ion-slide-page style="">

          </ion-slide-page>
        </ion-slides>

        <button class="button button-positive button-block icon-right ion-edit" ng-show="soyYo(usuario.id)" ui-sref="editar">Editar perfil</button>
        <div class="button-bar">
          <button class="button button-positive button-block button-outline" ui-sref="lista({id: usuario.id, caso: 'seguidores'})">{{usuario.counts.followedby}} seguidor</button>
          <button class="button button-positive button-block button-outline" ui-sref="lista({id: usuario.id, caso: 'siguiendo'})">{{usuario.counts.following}} siguiendo</button>
        </div>
        <!--Actividad -->
        <ion-list ng-if="mostrarAct">
          <ion-item class="item-avatar" ng-repeat="act in usuario.activity">
             <img src="https://s3.amazonaws.com/ionic-io-static/9zr7aST8QmKTZ60SJAYS_ed87f5e227d2c5adfc9cb0fd62349300.jpg">
             <h2>{{usuario.username}}</h2>
             <p style="white-space:normal;">{{act.action}}</p>
           </ion-item>

        </ion-list>
      </div>
  </ion-content>
</ion-view>
