<ion-view title="Registro" hide-nav-bar="true" style="background-color: #9c27b0;">
  <ion-content padding="true" style="background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form class="list">
    <div style="text-align: center;">
      <img src="img/logo1.png" width="100px" style="text-align: center; margin-top:10px;" />
      <h3 style="color: #FFF; font-weight: 400; padding-left: 20px; padding-right: 20px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.68);">Únete a la comunidad LGBT con LGBTcast</h3>
    </div>
      <ion-list>
        <label class="item-floating-label">
        <span class="input-label" style="color: white;">Nombre de usuario</span>
          <input placeholder="Nombre de usuario" type="text" ng-model="user.username" class="login-input">
        </label>
        <label class="item-floating-label">
        <span class="input-label" style="color: white;">Correo</span>
          <input placeholder="Email" type="email" ng-model="user.email" class="login-input">
        </label>
        <label class="item-floating-label">
        <span class="input-label" style="color: white;">Contraseña</span>
          <input placeholder="Contraseña" type="password" ng-model="user.password" class="login-input">
        </label>
        <label class="item-floating-label">
        <span class="input-label" style="color: white;">Repetir contraseña</span>
          <input placeholder="Repetir contraseña" type="password" ng-model="user.password2" class="login-input">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ng-click="enviar(user)" class="button button-stable button-block login-button">Registrarse</a>
    </form>
  </ion-content>
</ion-view>
