<ion-view title="Reportar un problema">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-close" ng-click="irAtras()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-send" ng-click="enviar()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header" style="padding-top: 20px;">
    <div>
      <h2>¿Cuál es el problema?</h2>
    <div class="list">
      <ion-item class="item item-icon-right" ng-click="marcar(1)">
        Está siendo ofensivo o perjudicial <i class="icon ion-checkmark-round" ng-if="num==1"></i>
      </ion-item>
      <ion-item class="item item-icon-right" ng-click="marcar(2)">
        Está participando en algún acoso <i class="icon ion-checkmark-round" ng-if="num==2"></i>
      </ion-item>
      <ion-item class="item item-icon-right" ng-click="marcar(3)">
        No es adecuado <i class="icon ion-checkmark-round" ng-if="num==3"></i>
      </ion-item>
      <ion-item class="item item-icon-right" ng-click="marcar(4)">
        Es spam <i class="icon ion-checkmark-round" ng-if="num==4"></i>
      </ion-item>
    </div>
    </div>
    
  </ion-content>
</ion-view>