<ion-view title="Hacerme editor">
  <ion-content padding="true">
  	<h3>¿Quieres formar parte de la comunidad de LGBTcast y aportar contenidos a la aplicación?</h3>
  	<p>Rellena el formulario siguiente y nos pondremos en contacto contigo a través del 
  	correo electrónico que nos proporciones.</p>
    <form action="">

		   <label class = "item-floating-label">
		      <span class = "input-label">Correo</span>
		      <input type = "text" placeholder = "Correo" />
		   </label>

		   <label class = "item-floating-label">
		      <span class = "input-label">Nombre y apellidos</span>
		      <input type = "text" placeholder = "Nombre y apellidos" />
		   </label>

		   <label class = "item-floating-label">
		      <span class = "input-label">Organización o colectivo</span>
		      <input type = "text" placeholder = "Nombre de la organización o colectivo" />
		   </label>

		   <label class = "item-floating-label">
		      <span class = "input-label">Motivo</span>
		      <input type = "text" placeholder = "Motivo(s) para unirte a LGBTcast como editor" style="border-bottom: 1px solid #DDD;"/>
		   </label>

    </form>
  </ion-content>
</ion-view>
