/* Empty. Add your own CSS if you like */

/* PRIMARY COLOR: #9c27b0; */
/* ACCENT COLOR: ; #ff4081*/

p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}

.custom-link {
  color: #ff4081!important;
  font-weight: bold!important;
  text-decoration: none!important;
}

.custom-secondary {
  background: #ff4081!important;
}

.custom-positive{
    
    /*background-color: #9c27b0!important;*/
    background-color: #6a0080!important;
    border:0;
 }

 .custom-light {
  background-color: #d05ce3!important;
  border:0;
 }

/*Toolbar*/
.bar {
  height: 56px!important;
}

.bar .title {
  height: 100%!important;
line-height: 56px!important;
}

 /* Menu lateral */
 .item-icon-left .icon {
    left: 11px;
    color: grey;
    font-size: x-large;
  }

.tab-nav, .tabs {
  background-color: #9c27b0!important;
  color: white;
}

.has-tabs-top {
  top: 105px;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: white !important;
  }

.tabs-top > .tabs, .tabs.tabs-top {
    top: 56px!important;
  }

.sidemenu-perfil {
  padding: 20px;
  color: white!important;
}

.sidemenu-perfil h3 {
  color: white!important;
}

.sidemenu-perfil img{
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border: 1px solid #fff;
}

.sidemenu-perfil h3 {
  font-weight: bold;
}

#profile-info {
  height: 220px;
  padding: 20px;
  background: #9c27b0;

  color: #fff!important ;
}

#profile-image {
  float:left;
  width: 128px;
  height: 128px;
  border-radius: 100%;
  border: 1px solid #fff;
    margin-right: 10%;
}

#profile-name {
  color: white!important;
}

#profile-info h4 {
  font-weight: bold;
}

#profile-info button {
  width: 100px;
float: right;
top: -5px;

}

.swiper-pagination-bullet {
  background: white;
}

/** CANAL **/
.message-bubble {
  background-color: white;
  margin: 5px;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  position: relative;
}

.message-bubble:after { 
  content: ''; 
  position: absolute; 
  left: 0; 
  top: 50%; 
  width: 0; 
  height: 0; 
  border: 10px solid transparent; 
  border-right-color: white; 
  border-left: 0; 
  margin-top: -10px; 
  margin-left: -10px; }

.channel-info {
  padding: 20px;
  text-align: center;
  background: #9c27b0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: 0.3px 0px 5px 3px #AEABAB;
}

.channel-info h3 {
  color: white!important;
}

.channel-content {
  background-color: #c9cdd1;
  padding: 10px 0px 10px 10px;
  height: 500px;
  padding-top: 150px;
}

.message-bubble small{
  margin-left: 60%;
  color: #6272e7;
}

.popover {
    height: auto !important;
}

.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}

input {
  width: 100%;
}

.input-label {
  width: 100%;
}

.login-input {
  background: none;
  color: #FFF;
  border-bottom: 1px solid #FFF !important;
}

.login-button {
  background: #6a0080!important;
  color: #FFF!important;
  border-radius: 20px;
}

.item-avatar h2{
  font-weight: bold!important;
}

.item-tags span {
  color: #FF4081;
}

.post-content {
  padding: 20px;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}

.inicio-title {
  font-weight: bold;
  color: black!important;
}

.toggle.toggle-calm input:checked + .track {
background-color: #FF4081;
border-color: #FF4081;
}

.empty-message {
  color: grey;
text-align: center;
margin-top: 160px;
}

.swiper-container-horizontal > .swiper-pagination {
  display: none;
}

/*.bar.bar-positive.bar-footer {
  background: #FF4081;
  border: #FF4081;
}

.event-bar > .button:first-child, .button:last-child {
  background: #FF4081;
  border: #FF4081;
}*/